* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-one {
  display: flex;
  background-color: rgb(19, 19, 19);
  height: 32px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.nav-one ul {
  display: flex;
  list-style-type: none;
}

.nav-one a {
  text-decoration: none;
  margin: 5px;
  font-size: small;
  color: rgba(255, 255, 255, 0.692);
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
}

.yellow-line a {
  background-color: rgb(255, 221, 51);
  display: block;
  text-decoration: none;
  padding: 6px 20px;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  color: black;
  position: absolute;
  width: 100%;
  top: 77px;
}

.circle a {
  color: #fff;
}

.section3-right-links a {
  font-weight: 100;
  padding: 2px;
  color: rgb(255, 115, 0);
  text-decoration: none;
}

.footer-links a {
  color: rgb(170, 170, 170);
  text-decoration: none;
  font-family: Shentox, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
  margin: auto 10px;
}

.nav-two a {
  text-decoration: none;
  margin: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: rgb(170, 170, 170);
  font-family: "Shentox", sans-serif;
}

.nav-one a:hover {
  color: white;
}

.nav-one .active a {
  color: white;
}

.submenu1 {
  display: none;
}

.left-menu ul li:hover .submenu1 {
  display: block;
  position: absolute;
  background: rgb(19, 19, 19);
  margin-top: 1px;
  margin-left: 15px;
  padding: 10px;
}

.nav-two ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin-left: 10px;
}

.footer-links ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 20px;
}

.left-menu ul li:hover .submenu1 ul {
  display: block;
}

.left-menu {
  display: flex;
  align-items: center;
  width: 70%;
  margin-left: 15px;
}

.right-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  margin-right: 15px;
}

.nav-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(254, 254, 254);
  height: 45px;
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: 32px;
}

.nav-two img {
  float: left;
  width: 100px;
  display: none;
}

.search {
  margin-right: 15px;
  opacity: 0.5;
}

.top-images-container {
  display: grid;
  height: 70vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "left-image left-image right-top-image"
    "left-image left-image right-bottom-image";
  grid-gap: 0.5rem;
  margin: 80px 10px 60px 10px;
}

.left-image {
  grid-area: left-image;
  background: linear-gradient(to right bottom, #bd2f2f, #192127);
  background-image: url("images/kia-niro-tesla-model-s-ev-future-electric-car-jd-power.jpg");
  background-size: cover;
  color: white;
}

.right-top-image {
  background-color: chartreuse;
  grid-area: right-top-image;
  background-image: url(images/google-logo-podium-796x398.png);
  background-size: cover;
  color: white;
}

.right-bottom-image {
  background-color: crimson;
  grid-area: right-bottom-image;
  background-image: url(images/image);
  background-size: cover;
  color: white;
}

.news-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "news1 news2 news3 news4"
    "news5 news6 news7 news8";
  grid-gap: 0.5rem;
  margin: 25px 100px 50px 100px;
}

.news-container h3 {
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.news-container span {
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(170, 170, 170);
}

.nav-three {
  display: none;
}

.news1 {
  grid-area: news1;
  background-size: cover;
}

.news2 {
  grid-area: news2;
  background-size: cover;
}

.news3 {
  grid-area: news3;
  background-size: cover;
}

.news4 {
  grid-area: news4;
  background-size: cover;
}

.news5 {
  grid-area: news5;
  background-size: cover;
}

.news6 {
  grid-area: news6;
  background-size: cover;
}

.news7 {
  grid-area: news7;
  background-size: cover;
}

.news8 {
  grid-area: news8;
  background-size: cover;
}

.news-image {
  width: 100%;
  height: 140px;
}

.news-title h2 {
  margin-left: 100px;
  font-family: Avalon, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 30.8px;
  color: rgb(255, 68, 34);
}

.deals-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "deal1 deal2 deal3 deal4"
    "deal5 deal6 deal7 deal8";
  grid-gap: 0.5rem;
  margin: 25px 100px 50px 100px;
}

.deals-container h3 {
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.deals-container span {
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(170, 170, 170);
}

.deal1 {
  grid-area: deal1;
  background-size: cover;
}

.deal2 {
  grid-area: deal2;
  background-size: cover;
}

.deal3 {
  grid-area: deal3;
  background-size: cover;
}

.deal4 {
  grid-area: deal4;
  background-size: cover;
}

.deal5 {
  grid-area: deal5;
  background-size: cover;
}

.deal6 {
  grid-area: deal6;
  background-size: cover;
}

.deal7 {
  grid-area: deal7;
  background-size: cover;
}

.deal8 {
  grid-area: deal8;
  background-size: cover;
}

.deal-image {
  width: 100%;
  height: 200px;
}

.deals-title h2 {
  display: inline;
  margin-left: 100px;
  font-family: Avalon, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  color: rgb(255, 68, 34);
}

.deals-title p {
  display: inline;
  position: absolute;
  right: 100px;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(255, 68, 34);
}

.deals-container p {
  display: inline;
  text-decoration: line-through;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-one {
  width: 100%;
  height: 170px;
  background-color: rgb(19, 19, 19);
}

.footer-two {
  width: 100%;
  height: 90px;
  background-color: rgb(0, 0, 0);
}

.icons-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.circle {
  width: 45px;
  height: 45px;
  background-color: rgb(51, 51, 51);
  border-radius: 50%;
  margin: 10px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle:hover {
  background-color: rgb(0, 0, 0);
}

.footer-links a:hover {
  color: white;
}

.footer-logo img {
  height: 8px;
}

.footer-text p {
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  color: rgb(170, 170, 170);
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
}

.footer-logo2 img {
  height: 8px;
}

.footer-two div {
  margin: 2px;
}

@media only screen and (max-width: 768px) {
  .top-images-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "left-image" "right-top-image" "right-bottom-image";
    margin-top: 102px;
  }
}

@media only screen and (max-width: 1100px) {
  .news-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "news1 news2 news3"
      "news4 news5 news6"
      "news7 news8 news9";
    width: auto;

    grid-gap: 0.5rem;
    margin: 25px 20px 50px 20px;
  }
  .deals-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "deal1 deal2 deal3"
      "deal4 deal5 deal6"
      "deal7 deal8 deal9";
    width: auto;

    grid-gap: 0.5rem;
    margin: 25px 20px 50px 20px;
  }
}

@media only screen and (max-width: 768px) {
  .nav-one {
    display: none;
  }
  .nav-two img {
    display: block;
  }
  .nav-two {
    display: none;
  }
  .yellow-line a {
    background-color: rgb(255, 221, 51);
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 6px 20px;
    font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    color: black;
    position: fixed;
    width: 100%;
    top: 50px;
    height: 50px;
  }

  .nav-three {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    top: 0px;
    margin-right: 10px;
    position: fixed;
  }
}

@media only screen and (max-width: 768px) {
  .news-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "news1" "news2" "news3" "news4" "news5" "news6" "news7" "news8" "news9";
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }

  .news-title h2 {
    margin-left: 20px;
    font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
    font-size: 28px;
    margin-top: 20px;
    line-height: 18px;
  }

  .news1 img {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 10px;
  }

  .news2 img {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 10px;
  }

  .news3 img {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 10px;
  }

  .news4 img {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 10px;
  }

  .news5 img {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 10px;
  }

  .news6 img {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 10px;
  }

  .news7 img {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 10px;
  }

  .news8 img {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 10px;
  }

  .deals-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "deal1" "deal2" "deal3" "deal4" "deal5" "deal6" "deal7" "deal8" "deal9";
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }

  .deal-title h2 {
    margin-left: 20px;
    font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
    font-size: 28px;
    margin-top: 20px;
    line-height: 18px;
  }

  .deal1 img {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 10px;
  }

  .deal2 img {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 10px;
  }

  .deal3 img {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 10px;
  }

  .deal4 img {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 10px;
  }

  .deal5 img {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 10px;
  }

  .deal6 img {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 10px;
  }

  .deal7 img {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 10px;
  }

  .deal8 img {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 10px;
  }
}

.section3-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "section3-items section3-items section3-items section3-items";
  margin: 20px 100px;
}

.section3-header {
  color: red;
  text-decoration: none;
  font-weight: bold;
  box-sizing: border-box;
  font-size: 20px;
}

.section3-right-links {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .section3-right-links {
    display: block;
    flex-direction: unset;
    position: absolute;
    right: 55px;
  }

  .section3-links {
    display: flex;
    margin: 20px;
    padding-left: 24px;
  }

  .section3-link::after {
    content: "|";
    margin-left: 10px;
    margin-right: 10px;
    display: none;
    pointer-events: none;
    position: absolute;
  }
}

.section3-latest-item {
  background: #f42;
  color: #fff;
  padding: 10.6666666667px 16px 10.6666666667px 84px;
  margin: 0 !important;
  font-size: 18px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.section3-items {
  position: relative;
  margin-top: 20px;
  background-color: pink;
  margin: 10px;
  max-width: 280px;
}
@media (min-width: 768px) {
  .sections3-items {
    flex: 75%;
  }
}
@media (min-width: 1020px) {
  .sections3-items {
    flex: 100%;
  }
}

.sections3-items a {
  text-decoration: none;
  line-height: 30px;
}
.story-line {
  border-top: 1px solid rgba(255, 68, 34, 0.25);
  margin-top: 10px;
  padding-top: 10px;
  padding: 16px;
  color: #aaa;
  font-size: 12px;
  line-height: 18px;
}
.story-line li {
  display: block;
  float: left;
}

.story-card {
  margin: 0;
  padding: 16px;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
.section3-items img {
  width: 60px;
  min-width: 60px;
  max-width: 60px;
  height: 60px;
  min-height: 60px;
  max-height: 60px;
  margin: 10.6666666667px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.section3-fund {
  padding: 10.6666666667px 16px 10.6666666667px 84px;
  color: #000;
  background: rgba(255, 68, 34, 0.08);
  margin: 0;
  font-family: Avalon, sans-serif;
  text-decoration: none;
}
.section4-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "section4-subtitle1 section4-subtitle2 section4-subtitle3"
    "section4-subtitle4 section4-subtitle5 section4-subtitle6"
    "section4-subtitle7 section4-subtitle8 section4-subtitle9";
  grid-gap: 20px;
  font-family: Roboto, sans-serif;
  margin: 20px 100px;
}

.section4-items h2 {
  font-family: Avalon, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 30.8px;
  color: rgb(255, 68, 34);
}

.section4-subtitle1 {
  grid-area: section4-subtitle1;
  background-size: cover;
  background-image: url(./images/1-copy-38-516x270.jpg);
  min-height: 250px;
  background-size: cover;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  flex-direction: column;
  color: white;
  padding: 10px;
  align-items: flex-start;
  text-decoration: none;
}

.section4-subtitle1 a {
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.section4-subtitle1 h3 {
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: rgb(85, 85, 85);
}

.section4-subtitle2 {
  grid-area: section4-subtitle2;
  background-size: cover;
  background-image: url(./images/amplified-368x276.jpg);
  min-height: 300px;
  background-size: cover;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  flex-direction: column;
  color: white;
  padding: 10px;
  align-items: flex-start;
}

.section4-subtitle3 {
  grid-area: section4-subtitle3;
  background-size: cover;
  background-image: url(./images/google-logo-podium-796x398.png);
  min-height: 300px;
  background-size: cover;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  flex-direction: column;
  color: white;
  padding: 10px;
  align-items: flex-start;
}

.section4-subtitle4 {
  grid-area: section4-subtitle4;
  background-size: cover;
  background-image: url(./images/kia-niro-tesla-model-s-ev-future-electric-car-jd-power.jpg);
  min-height: 300px;
  background-size: cover;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  flex-direction: column;
  color: white;
  padding: 10px;
  align-items: flex-start;
}

.section4-subtitle5 {
  grid-area: section4-subtitle5;
  background-size: cover;
  background-image: url(./images/slack-distraction-productivity-gq-258x135.png);
  min-height: 300px;
  background-size: cover;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  flex-direction: column;
  color: white;
  padding: 10px;
  align-items: flex-start;
}

.section4-subtitle6 {
  grid-area: section4-subtitle6;
  background-size: cover;
  background-image: url(./images/Untitled-design-2021-01-22T103446.744-516x270\\.png);
  min-height: 300px;
  background-size: cover;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  flex-direction: column;
  color: white;
  padding: 10px;
  align-items: flex-start;
}

.section4-subtitle7 {
  grid-area: section4-subtitle7;
  background-size: cover;
  background-image: url(./images/Untitled-design-2021-01-22T134049.708-516x270\\.png);
  min-height: 300px;
  background-size: cover;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  flex-direction: column;
  color: white;
  padding: 10px;
  align-items: flex-start;
}

.section4-subtitle8 {
  grid-area: section4-subtitle8;
  background-size: cover;
  background-image: url(./images/robotgod-499x270.jpg);
  min-height: 300px;
  background-size: cover;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  flex-direction: column;
  color: white;
  padding: 10px;
  align-items: flex-start;
}
.section4-subtitle9 {
  grid-area: section4-subtitle9;
  background-size: cover;
  background-image: url(./images/Snag_74c520-796x421.png);
  min-height: 300px;
  background-size: cover;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  flex-direction: column;
  color: white;
  padding: 10px;
  align-items: flex-start;
}

@media only screen and (max-width: 768px) {
  .section4-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 1020px) {
  .section4-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.section4-second-container {
  background-color: #fef1f0;
  display: flex;
  flex-direction: row;
  margin: 0;
}
.section4-small-title {
  margin: auto;
  padding: 15px;
  font-size: 14px;
}
.section4-second-container img {
  width: 100px;
  height: 100px;
}
