* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.nav-one {
  display: none;
}

.nav-one a {
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.6);
}

.footer2 a {
  color: #fff;
  display: inline;
}

.footer-links a {
  color: rgb(170, 170, 170);
  text-decoration: none;
  font-family: Shentox, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
  margin: auto 10px;
}

.circle a {
  color: #fff;
}

.sector > a {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  background-size: cover;
  box-shadow: inset 0 -100px 100px #000;
  height: 350px;
}

.fund-wrapper a {
  display: block;
  color: rgb(85, 85, 85);
  font-size: 12px;
  margin-bottom: 1em;
}

.fund-links a {
  display: block;
  color: orangered;
  margin-bottom: 10px;
}

.header > a {
  width: 100px;
  background-color: #000;
  background-image: url("../images/tnw.svg");
  background-repeat: no-repeat;
  background-size: 60px auto;
  background-position: 50% 50%;
}

.yellow-line a {
  background-color: rgb(255, 221, 51);
  display: block;
  text-decoration: none;
  padding: 15px 20px;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  color: black;
  width: 100%;
}

.nav-two a {
  font-family: Shentox, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: rgb(170, 170, 170);
}

.sector > div > div > a {
  font-weight: bold;
}

.nav-one a:hover {
  color: #fff;
}

.nav-two a:hover {
  color: #000;
}

ul {
  list-style-type: none;
}

.footer-links ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 20px;
}

.header ul {
  display: flex;
  list-style-type: none;
}

.nav-two ul:first-of-type {
  display: none;
}

.header {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  background-color: #fff;
}

.header .fa-search {
  color: lightgray;
}

.header .fa-bars {
  color: red;
  font-size: 20px;
}

.sector li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-bottom: 1px solid lightgray;
  position: relative;
}

.nav-two ul:last-of-type li {
  padding: 10px 20px;
  border-left: 1px solid lightgray;
}

.top-container {
  padding: 2px 10px 20px 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 200px);
  grid-gap: 10px;
}

.art {
  padding: 10px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: inset 0 -70px 70px #000;
}

.footer2 div {
  font-family: Maquette, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
  color: rgb(211, 211, 211);
}

.sector > div {
  display: flex;
  height: 100px;
  padding-top: 1px;
  background-color: mistyrose;
}

.sector > div > div {
  padding: 10px;
  color: orangered;
  flex: 1;
}

.sector > div > div > div {
  font-family: "Shentox", sans-serif;
  font-size: 0.8rem;
  color: orangered;
}

.art > div:first-of-type {
  font-family: "Shentox", sans-serif;
  color: #fff;
  margin-bottom: 5px;
}

.art > div:nth-of-type(2) {
  color: #fff;
  font-family: "Avalon", sans-serif;
  font-size: 1.3rem;
  line-height: 1;
  margin-bottom: 5px;
}

.art > div:last-of-type {
  color: #9c9e9b;
  font-size: 0.8rem;
}

.fund-wrapper a:hover {
  color: black;
}

.art:first-of-type {
  background-image: linear-gradient(
      to right bottom,
      rgba(189, 47, 47, 0.7),
      rgb(25, 33, 39, 0.7)
    ),
    url("images/kia-niro-tesla-model-s-ev-future-electric-car-jd-power.jpg");
}

.art:nth-of-type(2) {
  background-image: url("images/google-logo-podium-796x398.png");
}

.art:last-of-type {
  background-image: url("images/london");
}

.news-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "news1 news2 news3 news4"
    "news5 news6 news7 news8";
  grid-gap: 0.5rem;
  margin: 25px 100px 50px 20px;
}

.news-container h3 {
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.news-container span {
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(170, 170, 170);
}

.news1 {
  grid-area: news1;
  background-size: cover;
}

.news2 {
  grid-area: news2;
  background-size: cover;
}

.news3 {
  grid-area: news3;
  background-size: cover;
}

.news4 {
  grid-area: news4;
  background-size: cover;
}

.news5 {
  grid-area: news5;
  background-size: cover;
}

.news6 {
  grid-area: news6;
  background-size: cover;
}

.news7 {
  grid-area: news7;
  background-size: cover;
}

.news8 {
  grid-area: news8;
  background-size: cover;
}

.news-image {
  width: 100%;
  height: 140px;
}

.news-title h2 {
  margin-left: 100px;
  font-family: Avalon, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 30.8px;
  color: rgb(255, 68, 34);
}

/* *********Fund********** */

.fund {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 10px;
  padding: 20px;
}

.fund > article {
  background-color: #fffaf8;
}

.fund > article:last-child {
  display: none;
}

.fund h2 {
  margin-bottom: 10px;
}

.footer-links a:hover {
  color: white;
}

.sector:first-of-type > a {
  background-image: url("images/gamestop.jpg");
}

.sector:nth-of-type(2) > a {
  background-image: url("images/facebook.jpg");
}

.sector:nth-of-type(3) > a {
  background-image: url("images/intel.jpg");
}

.sector:nth-of-type(4) > a {
  background-image: url("images/pardon.png");
}

.sector:nth-of-type(5) > a {
  background-image: url("images/neibourhood.png");
}

.sector:nth-of-type(6) > a {
  background-image: url("images/os.png");
}

.sector:nth-of-type(7) > a {
  background-image: url("images/study.jpg");
}

.sector:nth-of-type(8) > a {
  background-image: url("images/toyota.jpg");
}

.sector:nth-of-type(9) > a {
  background-image: url("images/medium.png");
}

.fund-links a:hover {
  color: black;
}

.fund-wrapper a:last-child {
  margin-bottom: 0;
}

.fund .head h2 a {
  color: orangered;
  text-decoration: none;
}

.fund > article > .head {
  background-color: rgba(255, 68, 34, 0.08);
  position: relative;
  cursor: pointer;
}

.fund h3 {
  padding: 8px 0 8px 90px;
  background-color: orangered;
  color: white;
  font-size: 19px;
  font-weight: 500;
}

.fund h4,
.fund h5 {
  padding-left: 90px;
}

.fund h4 {
  padding-top: 10px;
  font-size: 17px;
  font-weight: 600;
  line-height: 1;
}

.fund h5 {
  padding-bottom: 10px;
  font-size: 13px;
  color: rgb(85, 85, 85);
}

.footer-logo img {
  height: 8px;
}

.footer-logo2 img {
  height: 8px;
}

.footer2 img {
  width: 40px;
}

.fund-wrapper img {
  vertical-align: middle;
  margin-right: 0.5em;
}

.sector > div img {
  height: 100px;
}

.fund > article > .head img {
  position: absolute;
  top: 10px;
  left: 10px;
}

.fund-wrapper {
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 68, 34, 0.25);
}

.fund > article > footer {
  padding: 1rem;
  color: rgb(85, 85, 85);
  font-size: 12px;
}

.fund .source {
  color: rgb(170, 170, 170);
}

/* ------------themes------------- */

.orange {
  font: bold 26px "Avalon", sans-serif;
  color: orangered;
  margin: 50px 0 30px 0;
}

.sectors {
  display: grid;
  padding: 10px;
}

.sector > a > div:first-of-type {
  font-family: "Shentox", sans-serif;
  font-size: 0.8rem;
  color: #fff;
}

.sector > a > div:nth-of-type(2) {
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.sector > a > div:last-of-type {
  margin-top: 5px;
  font-size: 0.8rem;
  color: gray;
}

.sector li::before {
  position: absolute;
  top: 50%;
  left: 5px;
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: orangered;
}

@media screen and (min-width: 760px) {
  .sectors {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  }
}

@media screen and (min-width: 1000px) {
  .sectors {
    grid-template-columns: repeat(3, 1fr);
    margin: 20px 100px 20px 100px;
  }
}

.deals-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "deal1 deal2 deal3 deal4"
    "deal5 deal6 deal7 deal8";
  grid-gap: 0.5rem;
  margin: 20px 100px 50px 100px;
}

.deals-container h3 {
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.deals-container span {
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(170, 170, 170);
}

.deal1 {
  grid-area: deal1;
  background-size: cover;
}

.deal2 {
  grid-area: deal2;
  background-size: cover;
}

.deal3 {
  grid-area: deal3;
  background-size: cover;
}

.deal4 {
  grid-area: deal4;
  background-size: cover;
}

.deal5 {
  grid-area: deal5;
  background-size: cover;
}

.deal6 {
  grid-area: deal6;
  background-size: cover;
}

.deal7 {
  grid-area: deal7;
  background-size: cover;
}

.deal8 {
  grid-area: deal8;
  background-size: cover;
}

.deal-image {
  width: 100%;
  height: 200px;
}

.deals-title h2 {
  display: inline;
  margin-left: 100px;
  font-family: Avalon, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  color: rgb(255, 68, 34);
}

.deals-title p {
  display: inline;
  position: absolute;
  right: 100px;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(255, 68, 34);
}

.deals-container p {
  display: inline;
  text-decoration: line-through;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-one {
  width: 100%;
  height: 170px;
  background-color: rgb(19, 19, 19);
}

.footer-two {
  width: 100%;
  height: 90px;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: flex-end;
}

.icons-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.circle {
  width: 45px;
  height: 45px;
  background-color: rgb(51, 51, 51);
  border-radius: 50%;
  margin: 10px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle:hover {
  background-color: rgb(0, 0, 0);
}

.footer-text p {
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  color: rgb(170, 170, 170);
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
}

.footer2 {
  color: lightgray;
  text-align: center;
  padding: 40px 0;
  background-color: #000;
}

@media screen and (min-width: 768px) {
  .header {
    grid-template-columns: auto 1fr;
  }

  .header > a {
    grid-column: 1;
    grid-row: 1/3;
  }

  .nav-one {
    grid-column: 2;
    grid-row: 1;
    background-color: #000;
    color: lightgray;
    display: flex;
    justify-content: space-between;
  }

  .nav-one li {
    padding: 5px 10px 5px 0;
  }

  .nav-one ul:first-of-type {
    margin-left: 10px;
  }

  .nav-two ul:first-of-type li {
    padding-right: 20px;
    padding-top: 8px;
  }

  .nav-one ul:first-of-type li:first-of-type {
    color: #fff;
  }

  .nav-two {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: space-between;
  }

  .nav-two ul:first-of-type {
    display: flex;
    font-family: "Shentox", sans-serif;
    font-size: 0.9rem;
    color: gray;
    margin-left: 10px;
  }

  .nav-two ul:last-of-type li:last-of-type {
    display: none;
  }

  .yellow-line a {
    padding: 6px 20px;
  }

  .top-container {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 200px);
  }

  .art:first-of-type {
    grid-row: 1/3;
    grid-column: 1;
  }

  .footer2 div {
    margin-right: 5px;
  }

  .art:nth-of-type(2) {
    grid-row: 1;
    grid-column: 2;
  }

  .art:last-of-type {
    grid-row: 2;
    grid-column: 2;
  }

  .art:first-of-type > div:nth-of-type(2) {
    font-size: 2.7rem;
  }

  .footer2 {
    display: flex;
    justify-content: center;
  }

  .fund {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .fund > .head {
    grid-column: 1 / -1;
  }

  .fund h2 {
    margin-bottom: 0;
  }

  .fund-links > a {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
  }

  .fund-links > a:first-child::after,
  .fund-links > a:nth-child(2)::after {
    content: "|";
    font-size: 1.1em;
    margin-left: 10px;
  }

  .fund-links > a:first-child:hover::after,
  .fund-links > a:nth-child(2):hover::after {
    color: black;
  }
}

@media screen and (min-width: 1024px) {
  .header > a {
    display: none;
  }

  .top-container {
    grid-template-rows: repeat(2, 250px);
  }

  .art > div:nth-of-type(2) {
    font-size: 1.7rem;
  }

  .art:first-of-type > div:nth-of-type(2) {
    font-size: 3.5rem;
  }

  .news-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "news1 news2 news3 news4"
      "news5 news6 news7 news8";
    grid-gap: 0.5rem;
    margin: 25px 100px 50px 100px;
  }

  .news-container h3 {
    font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
  }

  .news-container span {
    font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 28px;
    color: rgb(170, 170, 170);
  }

  .news1 {
    grid-area: news1;
    background-size: cover;
  }

  .news2 {
    grid-area: news2;
    background-size: cover;
  }

  .news3 {
    grid-area: news3;
    background-size: cover;
  }

  .news4 {
    grid-area: news4;
    background-size: cover;
  }

  .news5 {
    grid-area: news5;
    background-size: cover;
  }

  .news6 {
    grid-area: news6;
    background-size: cover;
  }

  .news7 {
    grid-area: news7;
    background-size: cover;
  }

  .news8 {
    grid-area: news8;
    background-size: cover;
  }

  .news-image {
    width: 100%;
    height: 140px;
  }

  .news-title h2 {
    margin-left: 100px;
    font-family: Avalon, sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 30.8px;
    color: rgb(255, 68, 34);
  }

  .fund {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 20px 100px 20px 100px;
  }

  .fund > .head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .fund h2 {
    margin-bottom: 10px;
  }

  .fund h3 {
    font-size: 17px;
    font-weight: 700;
  }

  .fund > article:last-child {
    display: block;
  }
}

@media only screen and (max-width: 1024px) {
  .news-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "news1 news2 news3"
      "news4 news5 news6"
      "news7 news8 news9";
    width: auto;
    grid-gap: 0.5rem;
    margin: 25px 20px 50px 20px;
  }

  .news-title h2 {
    margin-left: 20px;
  }

  .deals-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "deal1 deal2 deal3"
      "deal4 deal5 deal6"
      "deal7 deal8 deal9";
    width: auto;
    grid-gap: 0.5rem;
    margin: 25px 20px 50px 20px;
  }
}

@media only screen and (max-width: 768px) {
  .news-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "news1" "news2" "news3" "news4" "news5" "news6" "news7" "news8" "news9";
    width: 100%;
    margin-left: 10px;
  }

  .news-container h3 {
    font-size: 14px;
  }

  .news-title h2 {
    margin-left: 10px;
    font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
    font-size: 28px;
    margin-top: 20px;
    line-height: 18px;
  }

  .news1 img {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
  }

  .news2 img {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
  }

  .news3 img {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
  }

  .news4 img {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
  }

  .news5 img {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
  }

  .news6 img {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
  }

  .news7 img {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
  }

  .news8 img {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
  }

  .deals-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "deal1" "deal2" "deal3" "deal4" "deal5" "deal6" "deal7" "deal8" "deal9";
    width: 100%;
    margin-left: 10px;
  }

  .deals-container h3 {
    font-size: 14px;
  }

  .deal-title h2 {
    margin-left: 20px;
    font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
    font-size: 28px;
    margin-top: 20px;
    line-height: 18px;
  }

  .deal1 img {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
  }

  .deal2 img {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
  }

  .deal3 img {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
  }

  .deal4 img {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
  }

  .deal5 img {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
  }

  .deal6 img {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
  }

  .deal7 img {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
  }

  .deal8 img {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
  }
}
